<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Općina Đurmanec</title>
  </head>
  <body>
    <!-- navigacija -->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: var(--plava)"
    >
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#meni"
        role="button"
        aria-expanded="false"
        aria-controls="meni"
      >
        <i data-feather="menu"></i>Izbornik</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Načelnik</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Općinska skupština</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Općinska uprava</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Općinska samouprava</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Adresar</a>
            </li>
          </ul>
        </div>
    
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Traži"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Traži
          </button>
        </form>
      </div>
    </nav>
    <!-- navigacija -->
    <!-- sidebar -->
<div class="container w-25 fixed-top" style="background-color: yellow;margin-left:0;z-index:1000;" id="meni">
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#meni" aria-expanded="false" aria-controls="meni">
    Button with data-target
  </button>
</div>
    <!-- sidebar -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
